<!--The content below is only a placeholder and can be replaced.-->
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
<div class="container">

  <div  >
    <h4>Hello welcome to {{title}} Angular application</h4>
    <input [(ngModel)]="inputText" type="text" placeholder="Enter Text To Reflect Below" class="form-control">
    <small *ngIf="!inputText" style="color: crimson;">Enter Reqired fields</small> 
    <p class="form-control">{{inputText}}</p>
    
  </div>
  
  
  <div>
    <input class="form-control" type="text" placeholder="Enter Text To Reflect Below" [(ngModel)]="copytext">
    <small *ngIf="!copytext" style="color: crimson;">Click to get update in input box</small> 
    <button (click)="onClick()" class="form-control" style="color: aquamarine;background-color: burlywood;">Click</button>
    <p class="form-control">{{copytext}}</p>
  </div>
  
  <div style="text-align:center">
    <h3>
      My name is {{ name }}.
    </h3>
    <!-- <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="> -->
  </div>

</div>




